<!DOCTYPE html>
<html>
<head>
	<title>MyQui</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../css/main.css">
    <link rel="icon" href="../img/favicon.png">
    <script src="https://kit.fontawesome.com/ef4a82170a.js" crossorigin="anonymous"></script>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <lu><a href="/profile"><%= name %> | <%= email %></a></lu>
	</ul>
    <h1>Documentation</h1>
    <h10>  <i class="fas fa-arrow-circle-right"></i>Starting</h10>
    <h10
</body>
</html>
